div.element {
	padding-bottom:4px;
}

.element * {
	padding:2px;
	margin:2px;
	font-family:arial;
	font-size:12px;
}

.element input.text {
	/* [disabled]float:left; */
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	width:230px;
	max-width: 230px;
	border: 1px solid #CCC;
	padding: 4px 2px 4px 20px;
}

#memjoin
{		
    background-color: #efe9cb;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#edfbef), to(#efe9cb));
    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    
    
    border-width: 1px;
    border-style: solid;
    border-color: #a6aea1 #a3a0a7 #a5a8ad #a3a0a7;

    float: left;
    height: 35px;
    padding: 0;
    width: 255px;
    cursor: pointer;
    font: bold 15px Arial, Helvetica;
    color: #8f5a0a;
}

#memjoin:hover,#memjoin:focus
{		
    background-color: #edfbef;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#efd9cb), to(#edfbef));	
}	

#memjoin:active
{		
    outline: none;
   
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
     -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
     box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;		
}

#memjoin::-moz-focus-inner
{
  border: none;
}

#joinform
{
	margin: 0px 0 300px 0px;
}